<div class="hero">
  <div class="container">
    <div class="hero__content">
      <p class="hero__title">Helping best friends reunite</p>
      <div class="hero__options">
        <a href="#" class="hero__options-btn">Lost</a>
        <a href="#" class="hero__options-btn">Found</a>
      </div>
    </div>
  </div>
</div>
