<div class="app">
  <div class="nav">
    <div class="nav__container">
      <img src="http://placehold.it/100x25" class="nav__logo" alt="">
      <div class="nav__right">
        <a href="#" class="nav__right-item">Resources</a>
      </div>
    </div>
  </div>
  <div class="app__main">
      {{outlet}}
  </div>
</div>
