.form {
  margin: 4rem 1rem;
  background: $c-white;

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  &__login {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title {
    margin: 0.5rem 0;
    font-family: 'Sacramento', cursive;
    font-size: 3rem;
    text-align: center;
    text-transform: lowercase;

    &--light {
      color: $c-white;
    }
  }

  &__label {
    margin-bottom: 0.2rem;
    color: $c-form;
    text-transform: uppercase;
    font-size: 0.8rem;

    &:last-of-type {
      margin-top: 1.5rem;
    }
  }

  &__input {
    width: 70%;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid $c-form;
    outline: 0;

    &:focus {
      border-bottom: 1px solid $c-primary;
    }
  }

  &__button {
    margin-top: 2rem;
    padding: 0.3rem 0;
    width: 70%;
    background: $c-primary;
    border: 0;
    border-radius: 0.8rem;
    color: $c-white;
    font-family: 'Raleway', serif;
    text-transform: uppercase;
    font-size: 1rem;
    cursor: pointer;
  }

  &__register {
    width: 30%;
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('../images/login.jpg') center;
    background-size: cover;
  }

  &__text {
    color: $c-white;
    text-align: center;
  }

  &__btn {
    margin-top: 3rem;
    padding: 0.25rem 0;
    background: transparent;
    border: 1px solid $c-white;
    border-radius: 0.8rem;
    color: $c-white;
    text-transform: uppercase;
    font-size: 1rem;
    cursor: pointer;
    width: 30%;
  }
}

@media(max-width: 480px) {
  .form {

    &__content {
      flex-direction: column;
    }

    &__register {
      margin-top: 1rem;
      width: 100%;
      height: 20rem;
    }
  }
}
