.nav {
  background: $c-primary;

  &__logo {
    margin: 0.2rem 0;
    color: $c-white;
    font-family: 'Sacramento', cursive;
    font-size: 2rem;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 65rem;
    margin: 0 auto;
  }

  &__right-item {
    font-size: 0.8rem;
    color: $c-white;
    text-transform: uppercase;
  }
}

@media (max-width: 800px) {
  .nav {
    padding: 0.5rem 1rem;
  }
}

.fa-paw {
  margin-right: 0.5rem;
}
