.nav {
  padding: 0.5rem 0;
  background: $c-primary;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 65rem;
    margin: 0 auto;
  }

  &__right-item {
    font-size: 0.8rem;
    color: $c-white;
    text-transform: uppercase;
  }
}
