<div class="container">
  <form class="form">
    <div class="form__content">
      <div class="form__login">
        <p class="form__title">Welcome Back</p>
        <label class="form__label" for="email">Email</label>
        <input class="form__input" type="text" id="email" required=true>
        <label class="form__label" for="password">Password</label>
        <input class="form__input" type="password" id="password" required=true>
        <button class="form__button">Sign In</button>
      </div>
      <div class="form__register">
        <p class="form__title form__title--light">new here?</p>
        <p class="form__text">Registering allows you to post lost or found animals</p>
        <button class="form__btn">Sign Up</button>
      </div>
    </div>
  </form>
</div>
