{{#simple-form class="form" as |formValues|}}
  <div class="form__content">
    <div class="form__group">
      <p class="form__title">Welcome Back</p>
      <label class="form__label" for="email">Email</label>
      {{input class="form__input" type="text" id="email" required=true}}
    </div>
  </div>
{{/simple-form}}
